MONGO_URI=mongodb+srv://devahmad:117054781Ahmad@cluster0.dnhxdem.mongodb.net/fatech?retryWrites=true&w=majority
JWT_SECRET=wsewjek2i329ewwew
EMAIL_USER=linkplayer423@gmail.com
EMAIL_PASS=jsusqrqbebhthued
